.project {
  color: black;
}
.project .h1 {
  font: clamp(22px, 1.5vw, 1.6vw) montserrat;
  margin: 5vh 0 0vh 2vw;
}
.project .span1 {
  font: clamp(13px, 1vw, 1.1vw) roboto slab;
  font-weight: 300;
  margin: 0vh 0 0vh 2vw;
}
.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  width: 70%;
  column-gap: 3%;
  row-gap: 36px;
  justify-items: center;
  margin: 26px 15%;
}
.contain {
  position: relative;
}
.contain .Img {
  width: 100%;
  border-radius: 15px;
  margin: 0 0 -4px 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 15px;
  opacity: 0;
}
.overlay:hover {
  opacity: 1;
}

.overlay .btn1,
.overlay .btn2 {
  display: block;
  font-size: 21px;
  color: rgb(174, 10, 182);
  text-align: center;
  background: white;
  border-radius: 30px;
  padding: 10px 10px;
}
.overlay .btn1:hover,
.overlay .btn2:hover {
  background: rgb(174, 10, 182);
  color: white;
  cursor: pointer;
}
.overlay .btn2 {
  margin-top: 20px;
}
.first .h4 {
  margin: 16px 0 7px 0;
  font: 21px "DM Sans", sans-serif;
  font-weight: 600;
}
.first .p3 {
  margin: 0;
  font: 14px "DM Sans", sans-serif;
  color: rgb(0, 0, 0, 0.6);
}

@media all and (max-width: 1000px) {
  .container {
    width: 90%;
    margin: 26px 5%;
    /* background:red; */
  }
}

@media all and (max-width: 750px) {
  .mainProject {
    width: 90vw;
  }
  .mainProject2 {
    width: 77vw;
  }
  .container {
    grid-template-columns: repeat(1, 100%);
    margin-bottom: 100px;
  }
}

@media all and (max-width: 600px) {
  .mainProject {
    width: 96.5vw;
  }
}
